<a href="https://colab.research.google.com/github/BenYavor/Autoencoder_communication_system_WGAN_Channel-estimation/blob/master/GetStockData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
tesla_right_now = []
tesla_day_high = []
tesla_day_low = []
tesla_opened_today = []
tesla_opened_yesturday = []
tesla_high_52 = []
tesla_low_52 = []

## Collect Data
Highest rate last 52 weeks, Lowest rate last 52 weeks, opened at, yesturday opend at

In [0]:
tables_tesla = pd.read_html("https://www.finanzen.net/aktien/tesla-aktie")

In [0]:
tesla_stock = pd.DataFrame(columns = ['tesla_right_now', 'tesla_day_high','tesla_day_low','tesla_opened_today','tesla_opened_yesturday','tesla_high_52','tesla_low_52'])

In [0]:
def get_tesla_data():  
  tesla_right_now = tables_tesla[7][1][0][0:6]
  tesla_day_high = tables_tesla[5][1][0]
  tesla_day_low = tables_tesla[5][3][0]
  tesla_opened_today = tables_tesla[7][4][2][0:6]
  tesla_opened_yesturday = tables_tesla[7][4][2][9:15]
  tesla_high_52 = tables_tesla[7][4][6][0:6]
  tesla_low_52 = tables_tesla[7][4][7][0:6]
  return tesla_right_now, tesla_day_high, tesla_day_low , tesla_opened_today, tesla_opened_yesturday, tesla_high_52 , tesla_low_52

In [0]:
tesla_stock.loc[len(tesla_stock)] = get_tesla_data()

  tesla_right_now tesla_day_high  ... tesla_high_52 tesla_low_52
0          570,80          58900  ...        585,50       157,80
1          570,80          58900  ...        585,50       157,80
2          570,80          58900  ...        585,50       157,80
3          570,80          58900  ...        585,50       157,80
4          570,80          58900  ...        585,50       157,80
5          570,80          58900  ...        585,50       157,80
6          570,80          58900  ...        585,50       157,80
7          570,80          58900  ...        585,50       157,80

[8 rows x 7 columns]